################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Keeper/bin/Debug
/Keeper/obj/Debug
/Keeper.UnitTests/bin/Debug
/Keeper.UnitTests/obj/Debug
/packages
/.vs/Keeper/v15
/Keeper.v3.ncrunchsolution.user
/.vs
