################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
/Keeper/bin
/Keeper/obj
/Keeper.UnitTests/bin/Debug
/Keeper.UnitTests/obj/Debug
/packages
/.vs/Keeper/v15
/Keeper.v3.ncrunchsolution.user
/.vs
/Keeper.UnitTests/obj/Release

/Keeper2018/bin
/Keeper2018/obj
/Keeper2018181228.vspx
/Keeper2018.psess
/Keeper2018.Tests/obj/Debug
/Keeper2018.Tests/bin/Debug

/KeeperDomain/bin
/KeeperDomain/obj

*.psess
*.vspx
